.home-footer {
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px 0;
  text-align: center; // Căn giữa nội dung theo chiều ngang
  font-size: 16px;
  color: #333;

  p {
    margin: 0;
    line-height: 1.5;

    a {
      margin-left: 10px;
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: #0056b3;
      }
    }
  }
}
